# For prod and packaging
fastapi
uvicorn
sqlalchemy
requests
psycopg2-binary
tenacity
aioredis
jinja2

# For dev and test
pytest
pytest-asyncio
pytest-cov
codecov
httpx
pylint
mypy
isort
pydocstyle
black