[metadata]
description-file = README.md

[fastmsa]
name = {{msa.name}}

[flake8]
max-line-length = 88
max-doc-length = 88
extend-ignore = E203, W503

[pydocstyle]
convention = google
add-ignore = D403
match-dir = {{msa.name}}

[tool:pytest]
addopts = --tb=short
testpaths =
    tests

[mypy]
ignore_missing_imports = False

[mypy-*.tests.*]
# ignore_errors = True

[mypy-pytest.*]
ignore_missing_imports = True

[mypy-sqlalchemy.*]
ignore_missing_imports = True

[mypy-IPython.*]
ignore_missing_imports = True

