# production
requests
sqlalchemy
flask
fastapi
fastalchemy

# development
pytest
pytest-flask
pytest-watch
pydocstyle
pylint

# documentation
sphinx
sphinx_rtd_theme
sphinx-autodoc-typehints
sphinxcontrib-plantuml
livereload
